@use "variables" as *;

.skills-section {
    text-align: center;
    scroll-margin-top: -30vh;
    position: relative;
    background-color: $background-1;
    height: 100%;
    z-index: 1;
    padding: 4rem 0;

    .code-icon {
        display: flex;
        justify-content: end;
        margin-right: 15rem;
    }

    .top-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 3.5em;
            font-weight: 400;
            width: fit-content;
            margin: 0;
            color: $brand-1;
        }

        .underline {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.5rem;
        }

        .dot {
            width: 8px;
            height: 8px;
            background-color: $brand-1;
            border-radius: 50%;
        }

        .line {
            height: 2px;
            width: 110px;
            background-color: $brand-1;
        }

        p {
            font-family: "IBM Plex Mono", monospace;
            color: $white;
            margin: 0;
        }
    }

    .device-skills {
        margin-top: 5rem;
        display: flex;
        gap: 7rem;
        position: relative;

        .monitor, .mobile {
            box-shadow: -8px 0px 5px $css;
            border-radius: 0 8px 8px 0;
            padding: 1rem 0;
            width: 296px;
            background-color: $brand-2;
            
            .title {
                font-size: 1.25em;
            }

            p {
                color: $grey;
            }
        }
    }

    .web-skills {
        margin-top: 5rem;
        display: flex;
        gap: 7rem;
        position: relative;

        p {
            font-size: 2em;
        }

        .html {
            color: $html;
        }

        .css {
            color: $css;
        }

        .js {
            color: $js;
        }

        .react {
            color: $react;
        }
    }

}

.skills-section::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('../assets/background-skills-section.jpg');
    z-index: 0;
}